.edge-hero{
 
  background-image: url("/images/BG.jpg");
  background-size: cover;
  background-position: center;
  padding:120px 20px;
  text-align:center;
}

.edge-hero h1{
  background: rgb(22, 19, 101);
  color:white;
  display:inline-block;
  padding:15px 60px;
  font-size:40px;
  letter-spacing:2px;
}

.edge-description{
  background:white;
  max-width:900px;
  margin:40px auto;
  padding:25px;
  line-height:1.7;
}

.edge-content{
  display:flex;
  gap:50px;
  padding:60px;
}

.expertise,
.membership{
  flex:1;
}

.card{
  background:#f4f4f4;
  padding:25px;
  margin-top:20px;
}

.card h3{
  background: rgb(22, 19, 101);
  color:white;
  padding:10px;
}

